@import "tailwindcss";

:root {
  /* Default Theme: Light Blue/White (User Requested) */
  --color-primary: #318AD8;
  --color-secondary: #ebebeb;
  --color-accent: #0042aa;
  --color-background: #ffffff;
  --color-text: #171717;
  --color-text-muted: #525252;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Utility classes for dynamic usage if needed, though we will use arbitrary values in Tailwind like bg-[var(--color-secondary)] */